<style>
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 40px;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
</style>
<% if flash[:notice] %>
  <div class="flash_notice alert alert-success" >
    <span><%= notice %></span>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash_alert alert alert-danger" >
    <span><%= alert %></span>
  </div>
<% end %>
