<% if flash[:notice] %>
  <div class="flash_notice alert alert-success" >
    <span><%= notice %></span>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash_alert alert alert-danger" >
    <span><%= alert %></span>
  </div>
<% end %>
