<div id="panel" data-controller="panel">
  <div class="map" data-panel-target="map"></div>

  <div class="panel-top-right-options">
    <button type="button" class="panel-top-right-options-icon" title="Mis puntos de interés">
      <i class="fas fa-user"></i>
    </button>
    <button type="button" class="panel-top-right-options-icon" title="Registrar punto de interés">
      <i class="fas fa-map-marked-alt"></i>
    </button>
  </div>

  <div class="panel-bottom-right-options">
    <button type="button" class="panel-top-right-options-icon" title="Mostrar ubicación actual" data-action="panel#getLocation panel#focusLastPositionMarker" data-marker-focus="true">
      <i class="fas fa-location-arrow"></i>
    </button>
  </div>
</div>