<div data-controller="pois">
  <div class="popup-header">
    <h6 class="font-weight-bold mb-0">Registro de Punto de Interés</h6>
    <button type="button" class="btn btn-secondary btn-sm rounded-circle btn-close ml-auto" data-action="click->popups#closePopup click->pois#cancelPoiForm">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="popup-main"></div>
</div>
