/* ========== PANEL PANTALLA PRINCIPAL ========== */
#panel {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  display: block;
}

#panel .leaflet-top {
  top: 50px;
}

.map {
  z-index: 0;
  outline: 0;
  height: 100%;
  overflow: hidden;
}

.panel-top-right-options {
  position: absolute;
  z-index: 1000;
  top: 1vh;
  right: 1vh;
  display: flex;
  flex-direction: row;
}

.panel-bottom-right-options {
  position: fixed;
  z-index: 1010;
  bottom: 3vh;
  right: 1vh;
  display: flex;
  flex-direction: row;
}

.panel-bottom-right-options .panel-options-icon {
  width: 4rem;
  height: 4rem;
  color: #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  border-radius: 50%;
  border: transparent;
  background: #159edd;
  transition: all 0.5s;
}

// ============================ POPUP PANEL
.panel-popup {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 1011;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease;

  &.show {
    height: 60%;
  }

  .popup-header {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #dee2e6 !important;

    .btn-close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }
  }
}