/* ========== PANEL PANTALLA PRINCIPAL ========== */
#panel {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  display: block;
}

#panel .leaflet-top {
  top: 50px;
}

.map {
  z-index: 0;
  outline: 0;
  height: 100%;
  overflow: hidden;
}

.panel-top-right-options {
  position: absolute;
  z-index: 1000;
  top: 1vh;
  right: 1vh;
}

.panel-top-right-options .panel-top-right-options-icon {
  margin: 3px;
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  background-color: #737475;
}

.panel-bottom-right-options {
  position: fixed;
  z-index: 1010;
  bottom: 3vh;
  right: 1vh;
}

.panel-bottom-right-options .panel-top-right-options-icon {
  width: 4rem;
  height: 4rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  border-radius: 50%;
  border: transparent;
  background: #159edd;
  transition: all 0.5s;
  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}